<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <section>
        <main>
            <h2>{{ restaurant.get('name')}}:</h2> 
            <img src="{{image}}" alt="picture of restaurant" />
            <p>{{address}}</p>
            <p>Price: {{price}}</p>
            <p>Rating: {{rating}}</p>
            <p># Reviews: {{review}}</p>
        </main>
    </section>
</body>
</html>

